.settings
.metadata
.checkstyle
bin
target
.pmd
.ruleset
ruleset.xml
.springBeans
eclipsebin
.eclipse-pmd
.buildpath
.puml
.gitreview

.class
*.zip
*.jar
*.gz
*.bak
.log
*.box
.idea
gensrc
*.iml
.DS_Store
.vlt*
*.swp
*~
*.orig

classes
testclasses

endpoint.properties

.sonar
.vagrant
*.log

*beans.xsd
*items.xsd
*testclasses.xml
pos_backoffice/backoffice-webservices/nbactions.xml

.feeds/pos
.feeds/pos_cs
.feeds/pe
.feeds/pe_cs
.feeds/archive
.feeds/tmp

.gradle
buildSrc/build

config.yml
jetty-ssl.keystore